{% extends 'skeleton.html' %}
{% block contents %}
    <!--content-->
    <div class="w-[90%] md:w-[65%] mx-auto grid grid-cols-1 gap-6  py-10">
        <p class="font-[Satoshi Regular] text-[30px] leading-[36px] text-black font-normal"> Meet MohanKumar : Engineer, Web & Python Full Stack Developer!</p>
        <p class=" font-[Satoshi Regular] text-[20px] leading-[32px] text-black font-[400] text-balance">
            I am Mohankumar N, a Python Full Stack Web Developer with a strong foundation in both front-end and back-end technologies. currently I am a 2025 pass-out, my B.Tech in Information Technology at PSNA College of Engineering and Technology.
            I have gained practical experience in designing and building responsive, scalable, and user-centric web applications.
            My technical skill set includes <span class="hover:underline">HTML, CSS, Tailwind CSS, Bootstrap CSS, JavaScript, Oracle SQL, Python and  Django framework, along with tools such as Git, GitHub, and Firebase </span>. I am proficient in creating interactive user interfaces, implementing RESTful APIs, and deploying full-stack applications efficiently.
        </p>
    </div>
{% endblock %}